
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.active{
    color: white !important;
    font-weight: bold;
}
.inactive{
    color: lightgrey
}
#myself{
    width: 25vw;
}
#embedMap{
    width: 50vw;
    height: 40vh;
    min-width: 400px;
    min-height: 300px;
    border:0;
}
#servicesSection{
    background-image: url("https://i.pinimg.com/originals/ba/8c/6c/ba8c6cdaa71c7b54a86d8d142fc3763a.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 90vh;
}
#serviceMessage{
    font-size: 5vw;
    color:white;
    mix-blend-mode:luminosity;
    text-shadow: 0 0 6px black;
}
@media (max-width: 991px){
    #myself{
        width: 100%;
    }
    .footer{
        position:static;
    }
    #embedMap{
        width: 100%;
        height: 300px
    }
    #servicesSection{
        background-image: url("https://w0.peakpx.com/wallpaper/476/641/HD-wallpaper-minion-2015-thumbnail.jpg");
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        height: 90vh;
    }
}